<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256484787693-tm5ju2rf4e5j41enqa6ndludgnu2umkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256484787693-tm5ju2rf4e5j41enqa6ndludgnu2umkl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>256484787693-3c8tbdmvvgi42cuelbavu84f3l2i65io.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWYNVXwjrkjW0khlpVJUmnVDKkat58mWA</string>
	<key>GCM_SENDER_ID</key>
	<string>256484787693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ordentrabajoar</string>
	<key>STORAGE_BUCKET</key>
	<string>ordentrabajoar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256484787693:ios:90bfb3f35c1bbf8e6953e4</string>
</dict>
</plist>